:root {
  /* Primary Colors */
  --color-space-dark: 35, 43, 67;
  --color-space-darker: 29, 33, 49;
  --color-snow-white: 255, 255, 255;
  --color-honey-yellow: 255, 220, 36;
  --color-calm-blue: 113 203 243;

  /* Secondary Colors */
  --color-red-rum: 255, 92, 160;
  --color-kokiri-green: 92 236 102;

  /* Sizes */
  --main-container: 900px;

  /* Radius */
  --border-radius: 5px;

  /* Shadows */
  --box-shadow-default: 0 5px 5px rgb(13 20 37), 0 10px 10px rgba(0, 0, 0, 0.23);

  /* Breakpoints */
  --breakpoint-mobile: 768px;
}

html,
body {
  background: rgba(var(--color-space-dark));
  padding: 0;
  margin: 0;
  font-family: var(--inter-font), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
}
