:root {
  /* Colors */
  --color-space-dark: rgb(35, 43, 67);
  --color-space-darker: rgb(29, 33, 49);
  --color-snow-white: rgb(255, 255, 255);
  --color-honey-yellow: rgb(255, 220, 36);

  /* Sizes */
  --main-container: 900px;

  /* Helpers */
  --border-radius: 5px;
}

html,
body {
  background: var(--color-space-dark);
  padding: 0;
  margin: 0;
  font-family: var(--inter-font), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
}

img {
  /* width: 100% !important;
  height: auto !important;
  position: relative !important; */
}
