.notFound {
  margin: 7rem 0 10rem 0;
  text-align: center;
}
.notFound > span {
  font-size: 4rem;
}
.notFound > h1 {
  font-size: 4rem;
  color: rgba(var(--color-honey-yellow));
  font-family: var(--fraiche-font);
  padding: 0;
  margin: 0;
}
