.footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer .emoji {
  font-size: 40px;
  background: rgba(var(--color-space-darker));

  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  margin-bottom: 0.5em;
}

.footer .year {
  text-transform: uppercase;
  font-size: 0.6em;
  color: rgba(var(--color-honey-yellow));
}

.footer .created {
  display: flex;
  gap: 13px;
  margin-bottom: 1em;
}

.footer > ul.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 13px;
  padding: 0;
}

.footer > ul.links > a {
  color: rgba(var(--color-snow-white));
  text-decoration: none;
  font-size: 0.7rem;
}
