.games {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}
.games > li {
  background: rgba(var(--color-space-darker));
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
}

.games > li > span:nth-child(1) {
  color: rgba(var(--color-honey-yellow));
  font-size: 15px;
}

.games > li > span:nth-child(2) {
  opacity: 0.6;
  font-size: 13px;
}

.games > li > a:nth-child(3) {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  transition: all ease-in 100ms;
  cursor: help;
}

.games > li > a:nth-child(3):hover[data-played="true"] {
  box-shadow: 0 0 1px 1px #5cec66, 0 0 1px 1px #b4b390, 0 0 1px 1px #00a4ff;
}

.games > li > a:nth-child(3):hover[data-played="false"] {
  box-shadow: 0 0 1px 1px #ec5c5c, 0 0 1px 1px #fd2929, 0 0 1px 1px #ff00f2;
}

.games > li > a:nth-child(3)[data-played="true"] {
  background: rgba(var(--color-kokiri-green));
}

.games > li > a:nth-child(3)[data-played="false"] {
  background: rgba(var(--color-red-rum));
}
