.pageGames > header {
  margin-bottom: 2rem;
}

.pageGames > header > h1 {
  font-family: var(--fraiche-font);
  font-size: clamp(3rem, 10vw, 5rem);
  line-height: clamp(2.5rem, 10vw, 4rem);
  color: rgba(var(--color-honey-yellow));
  margin: 0;
  padding-bottom: 1rem;
}

.pageGames > header > h3 {
  font-weight: 200;
  padding-bottom: 2rem;
  margin: 0;
  border-bottom: 1px solid #141b2b;
  box-shadow: 0px 2px 0px #28324e;
}
