.container {
  font-family: var(--inter-font);
  margin: auto;
  max-width: var(--main-container);
  padding: 0 2rem;
  width: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
  }
}
