.items {
  column-gap: 10px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.items > li > a {
  color: rgba(var(--color-snow-white));
  font-size: clamp(20px, 2vw, 20px);
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  cursor: pointer;
}

.items > li > a.active {
  color: rgba(var(--color-honey-yellow));
}

.items > li > a:hover {
  color: rgba(var(--color-honey-yellow));
  transition: 0.3s;
}

.hamburguer {
  display: none;
}

@media (max-width: 768px) {
  .items {
    display: none;
  }

  .hamburguer {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: initial;
    border: none;
    padding: 0;
    z-index: 20;
  }

  .hamburguer:hover svg {
    transition: all 0.2s ease-in-out;
    background: #141b2b;
    transform: scale(1.2);
    border-radius: 5px;
  }

  .open {
    position: absolute;
    backdrop-filter: blur(15px) brightness(0.7);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    left: 0;
    top: 0;
    justify-content: center;
    animation: mobileFade 0.2s;
    animation-timing-function: linear;
  }

  .open > li > a {
    font-size: 2rem;
  }

  .close {
    animation: mobileFade 0.3s;
    animation-timing-function: linear;
    animation-direction: reverse;
  }
}

@keyframes mobileFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
