.container {
  align-items: center;
  display: grid;
  font-family: var(--fraiche-font);
  grid-template-columns: max-content 1fr;
  margin: 25px auto;
  max-width: var(--main-container);
  width: auto;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr auto;
    margin: 0 2rem;
    padding: 0;
    border-bottom: 1px solid #141b2b;
    box-shadow: 0px 2px 0px #28324e;
  }
}
