.panoramix > header {
  margin: auto;
  max-width: var(--main-container);
  padding: 0 2rem;
  width: auto;
}

.panoramix > header > h1 {
  font-family: var(--fraiche-font);
  font-size: clamp(3rem, 10vw, 5rem);
  line-height: clamp(2.5rem, 10vw, 4rem);
  color: rgba(var(--color-honey-yellow));
  margin: 0;
  padding-bottom: 1rem;
}

.panoramix > header > h3 {
  font-weight: 200;
  padding-bottom: 2rem;
  margin: 0;
  border-bottom: 1px solid #141b2b;
  box-shadow: 0px 2px 0px #28324e;
}

.masonry > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0 2rem;
  width: auto;
  padding: 2rem;
}

.masonry > div > figure > img {
  aspect-ratio: 1/1;
  object-fit: cover !important;
}
